@font-face{
    font-family: 'montserrat';
    src: url('https://fonts.google.com/specimen/Montserrat?query=montse') format('truetype');
}
@font-face{
    font-family: 'raleway';
    src: url('https://fonts.google.com/specimen/Raleway?query=rale') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

h1{
    color:white;
    font-size: 25px;
    font-family: 'montserrat';
}

header{
    display: flex;
    flex-direction: column;
    height: 120px;
    position: relative;
    background-color: #19587D;
    padding: 20px 35px;
}
.icons{
    color: white;
    position: absolute;
    right: 0px;
    display: flex;
    top: 10px;
}
.icons i{
    padding: 0px 10px;
}


.firstnav, .secondnav{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.burger{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.searchbar input{
    bottom: 0%;
    position: absolute;
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'raleway';
    font-size: 17px;
    padding: 0px 5px 0px 30px;
}

.searchbar i{
    position: absolute;
    left: 5%;
    top: 20%;
    color:grey;
}
.searchbar{
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0%;
}
.secondnav{
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 11px;
}
header ul 
{
    margin: 60px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    top: 0px;
    z-index: 0;
    position: absolute;
    width: 100%;
    height:800px;
    overflow: hidden;
    background-color:  #19587D;
    text-align: center;
    transition: max-height .2s ease-out;
    visibility: hidden;
    display: block;
}

header li a 
{
    display: block;
    padding: 10px 10px;
    color: white;
}

header li a:hover,
header .menu-btn:hover 
{
    background-color: #a8a6a6;
}

  }
  header .menu-icon 
  {
      cursor: pointer;
      padding: 28px 20px;
      position: relative;
      user-select: none;
      left: 300px;
      width: 150px;
  }

  header .menu-icon .nav 
  {
      background: white;
      display: block;
      height: 2px;
      position: absolute;
      transition: background .2s ease-out;
      width: 30px;
      height: 4px;
  }


header .menu-icon .nav:before,
header .menu-icon .nav:after {
  background:white;
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .nav:before {
  top: 10px;
}

header .menu-icon .nav:after {
  top: -10px;
}

header .menu-btn {
  display: none;
  transform: scale(10);
}

header .menu-btn:checked ~ ul {
  max-height: 800px;
  visibility: visible;
}

header .menu-btn:checked ~ .menu-icon .nav {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .nav:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .nav:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .nav:after {
  top: 0;
}

a:link{
    text-decoration: none;
}
}
                                                    /* Slideshow */
.first_slideshow{
    height: 50vh;
    width: 100%;
    position: absolute;
}

.slide.first{
    width: 100%;
    height: 80vh;
    background-image: url('/Images/pexels-victoria-borodinova-3315291.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    animation: slideBg 15s linear infinite 4s;
    animation-timing-function: linear;
    position: relative;
    z-index: 2;
}
.slideprice{
    background-color: white;
    width: 140px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    animation: slideprice 15s linear infinite 4s;
    animation-timing-function: linear;
}
.slide.second{
    position: absolute;
    width: 100%;
    height: 80vh;
    top:120px;
    z-index: 1;
    animation: slidepricesecond 15s linear infinite 4s;
    animation-timing-function: linear;
}
.slideprice.second{
    background-color: white;
    width: 140px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    animation: slidepricesecond 15s linear infinite 4s;
    animation-timing-function: linear;
}
.slideprice_background.second{
    width: 145px;
    height: 75px;
    background-color: #FCCA56;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 10px;
    animation: slidepricesecond 15s linear infinite 4s;
    animation-timing-function: linear;
}
.slideprice_background{
    width: 145px;
    height: 75px;
    background-color: #FCCA56;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 10px;
    animation: slideprice 15s linear infinite 4s;
    animation-timing-function: linear;
}
.slideprice p{
    color: black;
    font-size: 12px;
    padding-left: 23px;
    margin: 0px;
    text-align: left;
}
.slideprice_background .slideprice .price{
    color: #19587D;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 14px;
}
.slideprice h3{
    color: #19587D;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    text-align: left;
}
@keyframes slideBg{
    25%{
        background-image: url('/Images/pexels-victoria-borodinova-3315291.jpg');
    }
    50%{
        background-image: url('/Images/chastity-cortijo-6TY_WrJTwSI-unsplash.jpg');
    }
    90%{
        background-image: url('/Images/chastity-cortijo-6TY_WrJTwSI-unsplash.jpg');
    }
}
@keyframes slideprice{
    25%{
            opacity: 1;
    }
    50%{
            opacity: 0;
    }   
}
@keyframes slidepricesecond{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        z-index: 4;
    }
}


.blog{
    height: 600px;
    width: 100%;
    background-color: #19587D;
    margin: 95px 0px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
   
}
.blogimage
{
    background-image: url('/Images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg');
    height: 55%;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.blog article{
    height: 45%;
    width: 100%;
}
.blogarticles{
    height: 45%;
    width: 100%;
}
.blog article h3{
    color: white;
    margin-top: 10px;
}
.blog button{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin-top: 10px;
}
.blog article p{
    margin-bottom: 1px;
}

.second_slideshow article h3{
    margin-top: 5px;
    color: white;
}


                                                        /* First slider */
.slider.first{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 25px 0px 95px;
    position: relative;
}
.slider.first .background{
    height: 100%;
    width: 100%;
    background-color: #FCCA56;
    position: relative;
  
}
.slider.first .title{
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    
}
.slider.first p{
    color: black;
    position: absolute;
    margin-left: 35px;
    top: 20%;
    font-family: 'raleway';
}
.slider.first h3{
    font-family: 'montserrat alternates';
    position: absolute;
    margin-left: 35px;
    color: #19587D;
}
.slidescontainer.first{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slidescontainer::-webkit-scrollbar {
    width:  2px;
    height: 5px;
  }
.slidescontainer::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
  }
.slidescontainer::-webkit-scrollbar-track {
    background: transparent;
  }

  .slidescontainer.first > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin: 0px 10px;
    border-radius: 10px;

    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  .slidescontainer.third > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    background: #eee;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
.slidescontainer.fourth > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    background: #eee;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides.first.first
 {
    background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
 }
 .slides.second
 {
    background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.third
 {
    background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.fourth
 {
    background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
                                                                    /* Slider second */


.slidescontainer.second{
    width: 100%;
    height: 21vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    right: 0px;
    bottom: 10px;
    position: absolute;
}

.second_slideshow{
    background-color: #19587D;
    position: relative;
    height: 340px;
}

.slidescontainer.second > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

.slides.second.first
 {
    background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.second.second
 {
    background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.second.third
 {
    background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.second.fourth
 {
    background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 
                                                                /* Slider third */

.slidescontainer.third{
    width: 90%;
    height: 21vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: -80px;
    right: 0px;
}   
.third_slideshow{
    height: 150px;
    width: 100%;
    background-color: #FCCA56;
    margin: 95px 0px;
    position: relative;
}
.third_slideshow h3{
    position: absolute;
    top: 20px;
    margin-left: 70px;
    color: #343434;
}
.slides.third.first
 {
    background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.third.second
 {
    background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.third.third
 {
    background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 .slides.third.fourth
 {
    background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
 }
 
                                                                    /* Slider fourth */
                                                                    
                                                                    
    .fourth_slideshow{
        height: 150px;
        width: 100%;
        background-color: #FCCA56;
        margin: 95px 0px;
        position: relative;
    }
    .fourth_slideshow h3{
        position: absolute;
        top: 20px;
        margin-left: 40px;
        color: #343434;
    }
    .slidescontainer.fourth{
      width: 90%;
      height: 21vh;
      display: flex;
      align-items: center;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      bottom: -80px;
      right: 0px;
      position: absolute;
    }   
.slides.fourth.first
   {
      background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
      background-position: center;
   }
.slides.fourth.second
   {
      background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
      background-position: center;
   }
.slides.fourth.third
{
      background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
      background-position: center;
}
.slides.fourth.fourth
   {
      background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
      background-position: center;
}
                                                                    
h2{
    font-family: 'montserrat alternates';
    color: #222C4E;
    font-weight: bold;
    font-size: 30px;
    z-index: 20;
    left: 0px;
    top: -70px;
    position: relative;
    animation-name: title;
    animation-delay: 0s;
    animation-duration: 6s;
}

@keyframes title{
    0%{
        opacity: 0;
        transform: translateY(-20px)
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

h3{
    font-family: 'montserrat';
    text-align: center;
    margin: 0px 20px;
}

p{
    font-family: 'raleway';
    color: white;
    font-size: 15px;
    margin: 10px 25px;
    text-align: justify;
}

button{
    border-radius: 8px;
    border-style: none ;
    outline-style: none;
    height: 30px;
    width: auto;
    background-color: #FCCA56;
    font-family: 'montserrat';
    font-weight: bold;
    color: #343434;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.342);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}


.date{
    margin: 0px 20px;
}
.baniera_storytelling p{
    color: black;
}
.baniera_storytelling h3{
    color: #19587D;
}

.second_slideshow article{
    position: absolute;
    top: 0px;
}

.back_to_top_button{
    position: relative;
    height: 50px;
    width: 100%;
    border-top: solid 1px black;

}
.back_to_top_button button{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 50%;
    transform: translateX(-50%);
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #19587D;
}

summary{
    font-family: 'montserrat';
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 16px;
}
details{
    margin: 15px 15px;
    padding: 10px;
    border-top: white solid 1px;
    outline-style: none;
}
details[open] {
    padding: .5em;
    color: white;
}

ul{
    list-style-type: none;
}
li{
    padding: 10px;
    font-family: 'montserrat';
}


@media (max-width:767px){
    .desktopnav{
        display: none;
    }
    .searchbardesktop{
        display: none;
    }
    .footerdesktop{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column-reverse;
    }
    article.second{
        display: none;
    }
    button.desktop{
        display: none;
    }
}

                                                                /* Media Query min 768px */
@media (min-width:768px){
    header{
        display: flex;
    }
    .firstnav{
        display: flex;
        flex-direction: row;
    }
    .searchbardesktop{
        height: 20px;
        width: 30%;
        right: 20%;
        top: 15%;
        position: absolute;
    }
    .searchbardesktop input{
        bottom: 0%;
        position: absolute;
        right: 0%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        outline: none;
        border: none;
        font-family: 'raleway';
        font-size: 17px;
        padding: 0px 5px 0px 30px;
    }
    
    .searchbardesktop i{
        position: absolute;
        left: 5%;
        top: 20%;
        color:grey;
    }
    .searchbardesktop{
        position: absolute;
    }

    .secondnav{
        display: none;
    }
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .subnav {
        float: left;
        
        width: 80px;
        height: 40px;
        
        position: relative;

    }
    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: 'montserrat';
        margin: 0;
        padding: 10px;
        box-shadow: none;
        border-radius: 0px;
        left: 60px;
        
      }
    .navbar a:hover, .subnav:hover .subnavbtn {
        border-bottom: 1px solid black;

    }
    .subnavcontent.first {
        display: none;
        top: 40px;
        left: -155px;
        width: 900%;
        height: 40px;
        position: absolute;
        z-index: 1;
        font-family:'raleway';
        font-size: 13px;
      }
    .subnavcontent.second{
        display: none;
        top: 40px;
        left: -230px;
        width: 300%;
        height: 40px;
        position: absolute;
        z-index: 1;
      
        font-family:'raleway';
        font-size: 13px;
    }
    .subnavcontent a {
        float: left;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: inherit;
        
    }
    .subnavcontent a:hover {
        background-color: #eee;
        color: black;
      }
    .subnav:hover .subnavcontent {
        display: block;
    }
    .background{
        width: 80%;
    }
    p{
        margin: 10px 80px;
        font-size: 15px;
    }
    .date{
        margin-left: 78px;
    }
    button{
        font-size: 16px;
    }
    h3{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
    }
    .background{
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        position: relative;
    }
    .slidescontainer.first{
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
    }
 
    .slidescontainer.second{
        height: 220px;
    }
    .slidescontainer.second > div {
        width: 200px;
        height: 200px;
      }
      .slidescontainer.third{
        height: 220px;
        top: 30%;
    }
      .slidescontainer.third > div{
        height: 200px;
        width: 200px;
      }
    .third_slideshow{
        margin-bottom: 120px;
        height: 175px;
    }
    .third_slideshow h3{
        margin-left: 300px;
    }
    .slidescontainer.fourth{
        height: 220px;
        top: 30%;
    }
    .slidescontainer.fourth > div {
        width: 200px;
        height: 200px;
      }
    .fourth_slideshow{
        margin-bottom: 120px;
        height: 175px;
    }
    .fourth_slideshow h3{
        margin-left: 270px;
    }
    .second_slideshow{
        background-color: #19587D;
        position: relative;
        height: 380px;
    }
    details{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    footer h3{
        margin: 20px 10px 0px 10px;
        text-align: left;
        color: white;
    }
    .baniera_features{
        display: flex;
        flex-direction: row;
    }
    .back_to_top_button{
        width: 150px;
        border: none;
        right: 0px;
        position: absolute;
    }
    article ul li{
        color: white;
        padding-bottom: 20px;
        font-family: 'raleway';
        font-size: 15px;
    }
    article{
        margin-right: 20px;
    }
    .services{
        margin-left: 20px;
    }
    a:visited{
        outline: none;
        color: #343434;
    }
    .baniera_storytelling{
        margin-bottom: 30px;
    }
    .blog{
        display: flex;
        flex-direction: ;
        flex-wrap: nowrap;
    }
    .blog article{
        height: 100%;
        width: 100%;
        margin: 30px 0px;
    }
    .blogimage{
        height: 100%;
        width: 55%;
    }
    .blogarticles{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin: 0px;
        width: 45%;
    }
    article p{
        margin: 5% 10%;
    }
    button.mobile{
        display: none;
    }
    h3.firsttitle{
        margin-bottom: 30px;
    }
    .slideprice.second{
        width: 200px;
        height: 175px;
    }
    .slideprice_background.second{
        width: 200px;
        height: 175px;
        top: 50%;
        left: 50px;
    }
    .slideprice {
        width: 200px;
        height: 175px;
    }
    .slideprice_background{
        width: 200px;
        height: 175px;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
    }
    .slideprice p{
        font-size: 17px;
        margin-left: 11px;
    }
    .slideprice_background .slideprice .price{

        font-size: 17px;
    }
    .slideprice h3{
        font-size: 20px;
        margin: 20% 0% 0% 15%;
    }
    button.tool{
        bottom: 0px;
    }
}