@font-face{
    font-family: 'montserrat';
    src: url('https://fonts.google.com/specimen/Montserrat?query=montse') format('truetype');
}
@font-face{
    font-family: 'raleway';
    src: url('https://fonts.google.com/specimen/Raleway?query=rale') format('truetype');
}

* {
    margin: 0px;
    box-sizing: border-box;
  }

h1{
    color:white;
    font-size: 25px;
    font-family: 'montserrat';
}

header{
    display: flex;
    flex-direction: column;
    height: 120px;
    position: relative;
    background-color: #19587D;
    padding: 20px 35px;
}
.icons{
    color: white;
    position: absolute;
    right: 0px;
    display: flex;
}
.icons i{
    padding: 0px 10px;
}


.firstnav, .secondnav{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.burger{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 55%;
}

.searchbar input{
    bottom: 0%;
    position: absolute;
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'raleway';
    font-size: 17px;
    padding: 0px 5px 0px 30px;
}

.searchbar i{
    position: absolute;
    left: 5%;
    top: 20%;
    color:grey;
}
.searchbar{
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0%;
}
.secondnav{
    display: flex;
    width: 100%;
    position: relative;
}
header ul 
{
    margin: 60px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    top: 0px;
    z-index: 0;
    position: absolute;
    width: 100%;
    height:800px;
    overflow: hidden;
    background-color:  #19587D;
    text-align: center;
    transition: max-height .2s ease-out;
    visibility: hidden;
    display: block;
}

header li a 
{
    display: block;
    padding: 10px 10px;
    color: white;
}

header li a:hover,
header .menu-btn:hover 
{
    background-color: #a8a6a6;
}

  }
  header .menu-icon 
  {
      cursor: pointer;
      padding: 28px 20px;
      position: relative;
      user-select: none;
      left: 300px;
      width: 150px;
  }

  header .menu-icon .nav 
  {
      background: white;
      display: block;
      height: 2px;
      position: absolute;
      transition: background .2s ease-out;
      width: 30px;
      height: 4px;
  }


header .menu-icon .nav:before,
header .menu-icon .nav:after {
  background:white;
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .nav:before {
  top: 10px;
}

header .menu-icon .nav:after {
  top: -10px;
}

header .menu-btn {
  display: none;
  transform: scale(10);
}

header .menu-btn:checked ~ ul {
  max-height: 800px;
  visibility: visible;
}

header .menu-btn:checked ~ .menu-icon .nav {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .nav:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .nav:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .nav:after {
  top: 0;
}
                                                    /* Slideshow */
.first_slideshow{
    height: 50vh;
    width: 100%;
}

.slide.first{
    width: 100%;
    height: 80vh;
    background-image: url('/Images/pexels-victoria-borodinova-3315291.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    animation: slideBg 15s linear infinite 4s;
    animation-timing-function: linear;
}
@keyframes slideBg{
    25%{
        background-image: url('/Images/pexels-victoria-borodinova-3315291.jpg');
    }
    50%{
        background-image: url('/Images/chastity-cortijo-6TY_WrJTwSI-unsplash.jpg');
    }
    90%{
        background-image: url('/Images/chastity-cortijo-6TY_WrJTwSI-unsplash.jpg');
    }
}


.blog{
    height: 500px;
    width: 100%;
    background-color: #19587D;
    margin: 95px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.blogimage
{
    background-image: url('/Images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg');
    height: 60%;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.blog article{
    height: 40%;
    width: 100%;
}
.blog button{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
.blog article p{
    margin-bottom: 1px;
}
.blog article h3{
    color: white;
}
.second_slideshow article h3{
    margin-top: 5px;
    color: white;
}


                                                        /* First slider */
.slider.first{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 95px 0px;
    position: relative;
}
.slider.first .background{
    height: 100%;
    width: 100%;
    background-color: #FCCA56;
    position: relative;
  
}
.slider.first .title{
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    margin: 150px 0px 0px 0px;
}
.slider.first p{
    color: #19587D;
    position: absolute;
    margin-left: 35px;
    top: 20%;
}
.slider.first h3{
    
    position: absolute;
    margin-left: 35px;
}
.sliderscroll.first{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sliderscroll::-webkit-scrollbar {
    width:  2px;
    height: 5px;
  }
.sliderscroll::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
  }
.sliderscroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .sliderscroll.first > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin: 0px 10px;
    border-radius: 10px;
    background: #eee;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  .sliderscroll.third > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    background: #eee;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
.sliderscroll.fourth > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    background: #eee;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slidescroll.first.first
 {
    background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.second
 {
    background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.third
 {
    background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.fourth
 {
    background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
                                                                    /* Slider second */


.sliderscroll.second{
    width: 100%;
    height: 21vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    right: 0px;
    bottom: 10px;
    position: absolute;
}

.second_slideshow{
    background-color: #19587D;
    position: relative;
    height: 340px;
}

.sliderscroll.second > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    margin: 0px 10px;
    border-radius: 10px;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

.slidescroll.second.first
 {
    background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.second.second
 {
    background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.second.third
 {
    background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.second.fourth
 {
    background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 
                                                                /* Slider third */

.sliderscroll.third{
    width: 90%;
    height: 21vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: -80px;
    right: 0px;
}   
.third_slideshow{
    height: 150px;
    width: 100%;
    background-color: #FCCA56;
    margin: 95px 0px;
    position: relative;
}
.third_slideshow h3{
    position: absolute;
    top: 20px;
    margin-left: 70px;
    color: #343434;
}
.slidescroll.third.first
 {
    background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.third.second
 {
    background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.third.third
 {
    background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 .slidescroll.third.fourth
 {
    background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
    background-size: cover;
    object-fit: cover;
 }
 
                                                                    /* Slider fourth */
                                                                    
                                                                    
    .fourth_slideshow{
        height: 150px;
        width: 100%;
        background-color: #FCCA56;
        margin: 95px 0px;
        position: relative;
    }
    .fourth_slideshow h3{
        position: absolute;
        top: 20px;
        margin-left: 40px;
        color: #343434;
    }
    .sliderscroll.fourth{
      width: 90%;
      height: 21vh;
      display: flex;
      align-items: center;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      bottom: -80px;
      right: 0px;
      position: absolute;
    }   
.slidescroll.fourth.first
   {
      background-image: url('/Images/r-architecture-HQCW1gTMjek-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
   }
.slidescroll.fourth.second
   {
      background-image: url('/Images/jared-rice-PibraWHb4h8-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
   }
.slidescroll.fourth.third
{
      background-image: url('/Images/bence-balla-schottner-VCKYuQ6R-28-unsplash.jpg');
      background-size: cover;
       object-fit: coverfourth.slidescroll.fourth.fourth
}
.slidescroll.fourth.fourth
   {
      background-image: url('/Images/andrea-davis-k8TlRnE61dw-unsplash.jpg');
      background-size: cover;
      object-fit: cover;
}
                                                                    
h2{
    font-family: 'montserrat alternates';
    color: #222C4E;
    font-weight: bold;
    font-size: 30px;
    z-index: 20;
    left: 0px;
    top: -70px;
    position: relative;
    animation-name: title;
    animation-delay: 0s;
    animation-duration: 6s;
}

@keyframes title{
    0%{
        opacity: 0;
        transform: translateY(-20px)
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

h3{
    font-family: 'montserrat';
    text-align: center;
    margin: 0px 20px;
}

p{
    font-family: 'raleway';
    color: white;
    font-size: 15px;
    margin: 10px 25px;
    text-align: justify;
}

button{
    border-radius: 8px;
    border-style: none ;
    outline-style: none;
    height: 30px;
    width: auto;
    background-color: #FCCA56;
    font-family: 'montserrat';
    font-weight: bold;
    color: #343434;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
  }

.date{
    margin: 0px 20px;
}
.baniera_storytelling p{
    color: black;
}
.baniera_storytelling h3{
    color: #19587D;
}

.second_slideshow article{
    position: absolute;
    top: 0px;
}

.back_to_top_button{
    position: relative;
    height: 50px;
    width: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.back_to_top_button button{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 50%;
    transform: translateX(-50%);
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #19587D;
}

summary{
    font-family: 'montserrat';
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 16px;
}
details{
    margin: 15px 15px;
    padding: 10px;
    border-top: white solid 1px;
    outline-style: none;
}
details[open] {
    padding: .5em;
    color: white;
}

ul{
    list-style-type: none;
}
li{
    padding: 10px;
    font-family: 'montserrat';
}